@use "_settings" as settings;

/* ---------------
	header
--------------- */
.header {
	min-height: 52px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&--in-hamburger{
		position: fixed;
		top: 0;
		left: 0;
	}
	&__logo {
		padding-top: 40px;
		padding-left: 50px;
	}
}
@media screen and (max-width: 900px) {
	.header {
		&__logo {
			padding-top: 25px;
			padding-bottom: 25px;
			padding-left: 25px;
		}
	}
}


/* ---------------
	hamburger
--------------- */
.hamburger {
	z-index: settings.$Z_above-header;
	position: fixed;
	top: 0;
	right: 0;

	&__secret-input {
		display: none;
	}
	&__btn {
		position: relative;
		z-index: settings.$Z_above-all;
		height: 100px;
		width: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: settings.$BBB-red;
		cursor: pointer;
	}
	&__btn__nav-icon {
		background: #fff;
		display: block;
		height: 2px;
		width: 50%;
		position: relative;
		transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;

		&:before,
		&:after {
			content: "";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			background: #fff;
			transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
		}
		&:before {
			top: 14px;
		}
		&:after {
			bottom: 14px;
		}
	}
	&__content {
		list-style: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		transition: 250ms;
		opacity: 0;
		pointer-events: none;
		padding: 80px;
		box-sizing: border-box;

		text-align: center;
	}
	&__list {
		font-size: 16px;
		font-weight: 700;
		color: #fff;

		& li {
			list-style: none;
		}
		& li:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}
	&__btn-in {
		position: relative;
		display: inline-block;
		border: 1px solid #fff;
		padding: 15px 45px;
		margin: 40px 10px;
		color: #fff;
		font-weight: 700;

		&:visited {
			color: #fff;
		}
		&:hover {
			background-color: #fff;
			color: settings.$BBB-red;
			opacity: 1;
			transition: 300ms;
		}
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			background: #fff;
		}
		&::before {
			top: 7px;
			left: calc(100% + 7px);
			width: 1px;
			height: 100%;
		}
		&::after {
			bottom: -7px;
			left: 7px;
			width: 100%;
			height: 1px;
		}
	}
}
.hamburger:has(.hamburger__secret-input:checked) {
	.hamburger{
		&__btn:not(.steps) {
			.hamburger__btn__nav-icon:before {
				top: 0;
			}
			.hamburger__btn__nav-icon::after {
				bottom: 0;
			}
		}
		&__btn__nav-icon {
			background: rgba(0, 0, 0, 0);
			transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
			
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
		&__content{
			background-color: settings.$BBB-red;
			opacity: 1;
			pointer-events: initial;
		}
	}
}
@media screen and (max-width: 900px) {
	.hamburger {
		&__btn {
			height: 75px;
			width: 75px;
		}
		&__btn__nav-icon {
			&:before {
				top: 10px;
			}
			&:after {
				bottom: 10px;
			}
		}
		&__content{
			padding: 40px;
			padding-top: 120px;
		}
	}
}


/* ---------------
	ttl
--------------- */
.h2-ttl {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.4;

	&--underline {
		position: relative;
		text-align: center;
	}
	&--underline::after {
		content: "";
		width: 100px;
		height: 3px;
		display: block;
		background-color: #333;
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
	}
}


/* ---------------
	btn
--------------- */
.round-rect-btn {

}


/* ---------------
	kv
--------------- */
@keyframes slide-fade {
	0%{
		opacity: 0;
	}
	8%{
		opacity: 1;
	}
	30%{
		opacity: 1;
	}
	38%{
		opacity: 0;
	}
}
.kv {
	position: relative;

	&__message {
		position: relative;
		z-index: settings.$Z_under-header_above-content;
		padding: 280px 0 280px 140px;

		&__txt {
			font-size: 46px;
			line-height: 1.6;
			font-weight: 700;
			filter: drop-shadow(0px 4px 6px #FFFFFF);
		}
	}
	&__bg {
		position: absolute;
		width: 70%;
		height: 100%;
		top: 0;
		right: 0;
	}
	&__bg__inner {
		position: absolute;
		opacity: 0;
		background-image: url(../img/mainvisual1.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: inset 0px 0px 20px 20px #fff;
		width: 100%;
		height: 100%;

		&--01 {
			background-image: url(../img/mainvisual1.jpg);
			animation: slide-fade infinite 12s;
		}
		&--02 {
			background-image: url(../img/mainvisual2.jpg);
			animation: slide-fade infinite 12s;
			animation-delay: 4s;
		}
		&--03 {
			background-image: url(../img/mainvisual3.jpg);
			animation: slide-fade infinite 12s;
			animation-delay: 8s;
		}
	}
	&__btn,&__btn:visited {
		width: 450px;
		position: relative;
		display: inline-block;
		background: #FF0033;
		box-shadow: 0 5px 0 #7A051C;
		margin-top: 30px;
		padding: 15px 50px;
		box-sizing: border-box;
		border-radius: 10px;
		font-weight: 400;
		font-size: 24px;
		color: #fff;
		text-align: center;
	}
	&__btn::after{
		content: "";
		display: block;
		position: absolute;
		background-image: url(../img/arrow.svg);
		background-position: right center;
		background-repeat: no-repeat;
		top: 0;
		right: 18px;
		width: 1em;
		height: 100%;
	}
}

@media screen and (max-width: 900px) {
	.kv {
		&__message {
			padding: 10px 16px;

			&__txt {
				font-size: 28px;
			}
		}
		&__bg {
			position: relative;
			width: 100%;
			height: 300px;
		}
	}
}