/* ---------------
	variable
--------------- */
/*color*/
/*z-index*/
/* ---------------
	reset
--------------- */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

/* ---------------
	font
--------------- */
.font--yugo-arial {
  font-family: "Yu Gothic", "YuGothic", Arial, sans-serif;
}

/* ---------------
	header
--------------- */
.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header--in-hamburger {
  position: fixed;
  top: 0;
  left: 0;
}
.header__logo {
  padding-top: 40px;
  padding-left: 50px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
}
/* ---------------
	hamburger
--------------- */
.hamburger {
  z-index: 15;
  position: fixed;
  top: 0;
  right: 0;
}
.hamburger__secret-input {
  display: none;
}
.hamburger__btn {
  position: relative;
  z-index: 100;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF2A2A;
  cursor: pointer;
}
.hamburger__btn__nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  width: 50%;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.hamburger__btn__nav-icon:before, .hamburger__btn__nav-icon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.hamburger__btn__nav-icon:before {
  top: 14px;
}
.hamburger__btn__nav-icon:after {
  bottom: 14px;
}
.hamburger__content {
  list-style: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 250ms;
  opacity: 0;
  pointer-events: none;
  padding: 80px;
  box-sizing: border-box;
  text-align: center;
}
.hamburger__list {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.hamburger__list li {
  list-style: none;
}
.hamburger__list li:not(:last-of-type) {
  margin-bottom: 20px;
}

.hamburger:has(.hamburger__secret-input:checked) .hamburger__btn:not(.steps) .hamburger__btn__nav-icon:before {
  top: 0;
}
.hamburger:has(.hamburger__secret-input:checked) .hamburger__btn:not(.steps) .hamburger__btn__nav-icon::after {
  bottom: 0;
}
.hamburger:has(.hamburger__secret-input:checked) .hamburger__btn__nav-icon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.hamburger:has(.hamburger__secret-input:checked) .hamburger__btn__nav-icon:before {
  transform: rotate(45deg);
}
.hamburger:has(.hamburger__secret-input:checked) .hamburger__btn__nav-icon:after {
  transform: rotate(-45deg);
}
.hamburger:has(.hamburger__secret-input:checked) .hamburger__content {
  background-color: #FF2A2A;
  opacity: 1;
  pointer-events: initial;
}

@media screen and (max-width: 900px) {
  .hamburger__btn {
    height: 75px;
    width: 75px;
  }
  .hamburger__btn__nav-icon:before {
    top: 10px;
  }
  .hamburger__btn__nav-icon:after {
    bottom: 10px;
  }
  .hamburger__content {
    padding: 40px;
    padding-top: 120px;
  }
}
/* ---------------
	ttl
--------------- */
.h2-ttl {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}
.h2-ttl--underline {
  position: relative;
  text-align: center;
}
.h2-ttl--underline::after {
  content: "";
  width: 100px;
  height: 3px;
  display: block;
  background-color: #333;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------
	btn
--------------- */
/* simple-btn */
a.simple-btn {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  padding: 15px 45px;
  margin: 40px 10px;
  color: #fff;
  font-weight: 700;
}
a.simple-btn:hover {
  background-color: #fff;
  color: #FF2A2A;
  opacity: 1;
  transition: 300ms;
}
a.simple-btn::before, a.simple-btn::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
}
a.simple-btn::before {
  top: 7px;
  left: calc(100% + 7px);
  width: 1px;
  height: 100%;
}
a.simple-btn::after {
  bottom: -7px;
  left: 7px;
  width: 100%;
  height: 1px;
}

/* ---------------
	kv
--------------- */
@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
}
.kv {
  position: relative;
}
.kv__message {
  position: relative;
  z-index: 5;
  padding: 280px 0 280px 140px;
  font-size: 46px;
  line-height: 1.6;
  font-weight: 700;
  filter: drop-shadow(0px 4px 6px #FFFFFF);
}
.kv__bg {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
}
.kv__bg__inner {
  position: absolute;
  opacity: 0;
  background-image: url(../img/mainvisual1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 20px 20px #fff;
  width: 100%;
  height: 100%;
}
.kv__bg__inner--01 {
  background-image: url(../img/mainvisual1.jpg);
  animation: slide-fade infinite 12s;
}
.kv__bg__inner--02 {
  background-image: url(../img/mainvisual2.jpg);
  animation: slide-fade infinite 12s;
  animation-delay: 4s;
}
.kv__bg__inner--03 {
  background-image: url(../img/mainvisual3.jpg);
  animation: slide-fade infinite 12s;
  animation-delay: 8s;
}/*# sourceMappingURL=style.css.map */